pipeline/pip_PerformanceChk_SPBased.json
{
	"name": "pip_PerformanceChk_SPBased",
	"properties": {
		"description": "pip_PerformanceChk_SPBased approach",
		"activities": [
			{
				"name": "ControlTable",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from ods.controldetail (NOLOCK) where isreadyforexecution = 1 and isapplicable = 1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ControlDetail",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ControlTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ControlTable').output",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "SRCtoDWH",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "item().sourcequery",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": true,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_Source",
									"type": "DatasetReference",
									"parameters": {
										"sourceschema": {
											"value": "@item().sourceschema",
											"type": "Expression"
										},
										"sourceobject": {
											"value": "@item().sourceobject",
											"type": "Expression"
										},
										"sourcequery": {
											"value": "@item().sourcequery",
											"type": "Expression"
										},
										"etllastrundate": {
											"value": "@item().etllastrundate",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_dwh",
									"type": "DatasetReference",
									"parameters": {
										"targetschemaname": {
											"value": "@item().targetschemaname",
											"type": "Expression"
										},
										"targetobject": {
											"value": "@item().targetobject",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "SP CALL",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[DWH].[usp_f_grn]"
				},
				"linkedServiceName": {
					"referenceName": "LS_ControlDetail",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}